<div fxLayout="column" fxLayoutGap="20px" style="margin: 20px;">
  <div fxFlex>
    <div  fxLayout="row" fxLayoutGap="20px">
      <mat-card fxFlex>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center" >
          <mat-form-field fxFlex="50">
            <input matInput placeholder="ebird ID" [(ngModel)]="sid" (keyup.enter)="add()">
          </mat-form-field>
          <div fxFlex="20">
            <button mat-raised-button color="primary" (click)="add()">新增記錄</button>
          </div>
      </div>
      </mat-card>
      <mat-card fxFlex>
        Hello World
      </mat-card>
    </div>
  </div>
  <div fxFlex>
    <mat-tab-group>
      <mat-tab *ngFor="let item of query;" [label]="item.subId">
        {{ item.locName }}
        {{ item.userDisplayName }}
        {{ item.obsDt }}
        <ul>
          <li *ngFor="let obs of item.birds;">{{ obs.cname }}  {{ obs.qty }}</li>
        </ul>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
